<div class="container">
  <h2>About angular inbuilt directives</h2>

  <ol>
    <li><b>NgSwitch</b>: switch case scenario </li><br>
    <input type="number" [(ngModel)]="choice" placeholder="calculate the mod of 6">
    <div [ngSwitch]="choice % 6" class="">
      <div *ngSwitchCase="0">complete divisible</div>
      <div *ngSwitchCase="1">remainder is 1</div>
      <div *ngSwitchCase="2">remainder is 2</div>
      <div *ngSwitchCase="3">remainder is 3</div>
      <div *ngSwitchCase="4">remainder is 4</div>
      <div *ngSwitchCase="5">remainder is 5</div>
      <div *ngSwitchDefault>enter number</div>
    </div>
    <br>

    <li><b>NgClass</b>: Add or removes the css classes on html component</li><br>

    <input type="text" [(ngModel)]="shape" placeholder="enter square, circle, oval, square, rectangle or triangle">
    <br>
    <div [ngClass]="{circle: shape==='circle', square: shape==='square', oval: shape==='oval' , rectangle: shape==='rectangle' , triangle: shape==='triangle' }"></div>

    <br>

    <li><b>NgStyle</b>: update the html element styles </li><br>
    <label for="">background: </label><input type="text" name="" id="" [(ngModel)]="colour" placeholder="enter background-color value"><br>
    <label for="">size: </label><input type="text" name="" id="" [(ngModel)]="size" placeholder="enter size value"><br>
    
    <br><br><div class="circle" [ngStyle]="{'background': colour, 'width': size+'px', 'height': size+'px', 'border-radius': size+'px' }"></div><br>
  </ol>


</div>