<h3>this component shows the custom directives created by: ng g directive my-new-directive</h3>
<br>
<b>Key imports: </b> Directive, ElementRef, HostListner, @Input.
<br>
<br>
<b>@Input & @Output: </b> can be used with both directive & component. these are called 'type alias decorator'
<br><br>

<div class="mydirective" callerName="class-base-directive" firstInput="class-base-directive"> this text should turn blue color. by class selector </div> <br>
<div appMyNewDirective callerName="arrtibute-base-directive" firstInput="arrtibute-base-directive"> this text should turn blue color. by attrib selector</div> <br>
<my-new-directive [callerName]="element-base-directive" firstInput="element-base-directive"> this text should turn blue, by element name selector </my-new-directive>

<br>
<h3>2. demo with components</h3>

<div class="parent" >
    <h2>Parent Template</h2>
    <br>
    <input type="text" placeholder="Enter the message for child" [(ngModel)]="messageForChild"> : {{messageForChild}}

    <app-type-alias-demo [parentMessage]="messageForChild" (onChildEcho)="listenChild($event)"></app-type-alias-demo>
    <br>
    <br>
    <b>Child says: </b> {{childSays}}
</div>